:root{
    --primary-color:#0f171e;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

body{
    background-color: var(--primary-color);
}

.container {
    margin: 0px 40px;
  }